# Ignorar dependências instaladas
node_modules
npm-debug.log

# Ignorar arquivos de configuração locais e sensíveis
.env.local
.vscode/
.idea/

# Ignorar diretórios de build
dist

# Ignorar arquivos de sistema
.DS_Store
*.log