.container-home-cliente{
    display: flex;
    margin: 1rem;
    width: 375px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

.card-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.half-card{
    display: flex;
}

.cardCliente{
    display: flex;
    gap: 50px;
}

.search-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}