.container-compra-fornecedor {
    display: flex;
    margin: 1rem;
    width: 375px;
    height: 100vh;
    gap: 20px;
    flex-direction: column;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.preco-e-btn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.preco-e-btn .primary-btn {
    transition: all 0.3s ease;
}

.preco-e-btn .primary-btn:hover {
    background-color: #2161b5;
}

.svgIcon {
    transition: all 0.3s ease;
}

.svgIcon:hover {
    scale: 1.2;
}
