.container {
    display: flex;
    margin: 1rem;
    width: 375px;
    gap: 20px;
    flex-direction: column;
}

.form-control{
    display: flex;
    gap: 20px;
    flex-direction: column;
}


#entrar-com-email{
    padding: 40px!important;
}